@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Libre+Baskerville&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,700;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.textMono {
  font-family: "Sometype Mono", monospace;
}

.float-label-input {
  margin: 32px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
  padding: 9px;
  border: 1.5px solid #ced2d8;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

.react-datepicker-wrapper .react-datepicker__input-container input:focus {
  border: 1.5px solid #4eff03;
}
